body {
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;

}

*,
*:after,
*:before{
box-sizing: border-box}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.page {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.intro {
	width: 100%;
	height: 100vh;
	background: url("/static/assets/intro.jfif") center no-repeat;
	background-size: cover;
}

.about {
    padding: 20px;
    margin-left: 125px;
    margin-right: 125px;
    font-size: 18px;

}

.find_us {
	padding: 20px;
}

.map {
	height: 400px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.header {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

#header:after {
	display: block;
	content: "";
	height: 55px;
	margin: -55px 0 0;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo {
	color: #fce38a;
	font-size: 30px;
	font-weight: 700;
}

.nav {
	font-size: 14px;
	text-transform: uppercase;
	transition: all 350ms ease-in-out;
}

.nav_link {
	color: #fff;
	margin-top: 0 15px;
	text-decoration: none;

	display: inline-block;
	margin-right: 30px;
	vertical-align: top;

	transition: color 0.2s linear;
}

.nav_link:before {
    display: block;
    content: "";
    height: 50px;
    margin: -50px 0 0;
}

.nav_link:hover {
	color: #fce38a;
}

.normal_content {
	background-color: #F9F9F9;
	position: relative;
	max-width: 1400px;

	text-align: center;
	margin: 0 auto;
}


/* register stuff */


.register {
	background-color: #F8F9F9;
	position: relative;
	max-width: 500px;
	text-align: center;
	padding: 20px;
	margin: 0 auto;
    margin-top: 10%;
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);

}
.register_label{
    font-size: 30;
    font-weight: 700;
    /*font-family: 'Montserrat', sans-serif;*/
}
.input_label{
    font-size: 25px;
    align: center;

}
.input{
    transition: color .2s linear;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    border-width: 0px;

}
.input:hover{
    border-color: #000000;
    border-width: 1px;

}

.input:active{
    color

}

.submit_btn{
    border-radius: 5px;
    width: 175px;
    height: 30px;
    border-width: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fc0
}
.submit_btn:hover{
    border-width: 2px;
    background-color: #fd0
}

/*end of register stuff*/


.contact {
	margin-left: 50px;
	color: #fff;
}

.copyright {
    margin-left: 50px;
    color: #b5b5b5;
}

.footer {
	display: flex;
	justify-content: space-around;
	padding: 20px;
	background-color: #000;
	margin-top: auto;
}

h3 {
    font-size: 30px;}

.inf_p {
    border-right: 10px solid black;
    border-left: 10px solid black;
    padding: 10px}

.inf_ul {
    font-size: 25px;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.1);
    align: center;
}

.connect_ul {
    font-size: 25px;
    list-style-type: none;
    align: center;
}

.connect_li {
	line-height: 50px;
}

.inf_li {
	line-height: 50px;
	border: 10px solid #F8F9F9
}

h4 {
    font-size: 20px;}

.bottom_chat_button {
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 20px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: black;
  border: 1px solid rgba(0, 0, 0, .4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.bottom_chat_button:before, .bottom_chat_button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.bottom_chat_button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.bottom_chat_button:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
.bottom_chat_button:hover:before, 
.bottom_chat_button:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.bottom_chat_button:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
.bottom_chat_button:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
.bottom_chat_button:hover {
  background: rgba(0, 0, 0, .2);
}