{% extends "common/base.html" %}

{% block content %}
<div class="container">
    <h1 align="center" style="padding-top: 50px; padding-bottom: 0px">Пользователи</h1>
    <table id="users_table" class="users_table">
        <tr class="th_users">
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>CREATED_DATE</th>
            <th>BANNED</th>
        </tr>
        {% for item in users_lst %}
            <tr>
                {% for i in item %}
                <td class="users_td">{{i}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <form id="ban_msg" class="chat" autocomplete="off" novalidate>
                <div class="form-group">
                    <label for="message_input">ID:</label>
                    <input type="text" class="form-control input" id="message_input"
                           placeholder="Enter ID to ban or unban">
                    <button type="submit" id="send_ban" class="btn btn-success submit_btn">Send</button>
                </div>
    </form>
    <p id="inf_message"></p>
    <h1 align="center" style="padding-top: 50px; padding-bottom: 0px">Сообщения</h1>
    <form id="del_msg" class="chat" autocomplete="off" novalidate>
                <div class="form-group">
                    <label for="message_input">ID:</label>
                    <input type="text" class="form-control input" id="message_del"
                           placeholder="Enter ID to delete message">
                    <button type="submit" id="send_del" class="btn btn-success submit_btn">Send</button>
                </div>
    </form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>

<script>
    $(document).ready(() => {
        $('#ban_msg').on('submit', (e) => {
            e.preventDefault();
        });

        const socket = io.connect('http://127.0.0.1:5000');



        $('#send_ban').on('click', () => {
            socket.send({
                'id': $('#message_input').val(),
                'role': 'ban'
            });
            $('#message_input').val('');
        });
    });




</script>
<script>
    $(document).ready(() => {
        $('#del_msg').on('submit', (e) => {
            e.preventDefault();
        });

        const socket = io.connect('http://127.0.0.1:5000');



        $('#send_del').on('click', () => {
            socket.send({
                'id': $('#message_del').val(),
                'role': 'del_mes'
            });
            $('#message_del').val('');
        });
    });




</script>
</div>
{% endblock %}