<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=6fbbac3f-f88d-4d13-b6c0-dcfb9e2829bd&lang=ru_RU"
            type="text/javascript">
    </script>
    <script language="JavaScript" type="text/javascript" src="static/js_scripts/jquery-3.6.0.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="static/js_scripts/map_script.js"></script>
    <script language="JavaScript" type="text/javascript" src="static/js_scripts/scroll_helper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"
            integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig=="
            crossorigin="anonymous"></script>
    <script>
            $(document).ready(() => {
                $('#form_send_msg').on('submit', (e) => {
                    e.preventDefault();
                });

                const socket = io.connect('http://127.0.0.1:5000');
                const username = $('#username').text();

                socket.on('connect', () => {
                    socket.send({'username': 'Service message', 'msg': 'User ' + username + ' has connected!'});
                });

                $('#send_msg').on('click', () => {
                    socket.send({
                            'msg': $('#message_input').val(),
                            'username': username
                        });
                    $('#message_input').val('');
                });

                socket.on('message', data => {
                    if (data.msg.length > 0) {
                        if (data.username === 'Service message') {
                            $('#messages').append(`<li class="text-muted"><strong>${data.username}:</strong> ${data.msg}</li>`);
                        } else {
                            $('#messages').append(`<li><strong>${data.username}:</strong> ${data.msg}</li>`);
                        }
                        console.log('Received message');
                    }
                });
            });

    </script>
    
    <title>{{ title }}</title>
</head>
<body>
<div class="page">
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">logo</div>

                <nav id="nav">
                    <a class="nav_link" href="/#about">О НАС</a>
                    <a class="nav_link" href="/#find_us">ГДЕ МЫ НАХОДИМСЯ</a>
                    <a class="nav_link" href="/#connect">СВЯЗАТЬСЯ С НАМИ</a>
                    <a class="nav_link" href="/register">РЕГИСТРАЦИЯ</a>
                </nav>
            </div>

        </div>


    </header>
    <!-- Begin page content -->


    <div class="main_content">
        {% block content %}{% endblock %}
        <a href="" class="bottom_chat_button">Чат с менеджером</a>
    </div>
    <footer class="footer">
        <p class="contact">Email: 123@r.ru</p>
        <p class="contact">Телефон: 000-000</p>
        <p class="copyright">Copyryght by ///</p>
    </footer>

</div>
</body>
</html>