<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">


    <script src="https://api-maps.yandex.ru/2.1/?apikey=6fbbac3f-f88d-4d13-b6c0-dcfb9e2829bd&lang=ru_RU"
            type="text/javascript">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script language="JavaScript" type="text/javascript" src="static/js_scripts/jquery-3.6.0.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="static/js_scripts/map_script.js"></script>
    <script language="JavaScript" type="text/javascript" src="static/js_scripts/scroll_helper.js"></script>
    <script language="JavaScript" type="text/javascript" src="static/js_scripts/div_scroll.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
            integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>

    <title>{{ title }}</title>
</head>
<body>
<div class="page">
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">{{logo_txt}}</div>

                <nav id="nav">
                    <a class="nav_link" href="/#about">О НАС</a>
                    <a class="nav_link" href="/#find_us">ГДЕ МЫ НАХОДИМСЯ</a>
                    <a class="nav_link" href="/#connect">СВЯЗАТЬСЯ С НАМИ</a>
                    {% if not anonymous %}
                    <a class="nav_link" href="/register">РЕГИСТРАЦИЯ</a>
                    <a class="nav_link" href="/login">ВХОД</a>
                    {% else %}
                    <a class="nav_link" href="/logout">ВЫХОД</a>
                    {% if admin %}
                    <a class="nav_link" href="/administrate"><strong id="username_admin">{{ c_user.name.upper() }}</strong></a>
                    {% else %}
                    <a class="nav_link"><strong id="username">{{ c_user.name.upper() }}</strong></a>
                    {% endif %}
                    {% endif %}
                </nav>
            </div>

        </div>


    </header>
    <!-- Begin page content -->


    <div class="main_content">
        {% block content %}{% endblock %}
        <a href="/chat" class="bottom_chat_button">{{chat_btn_text}}</a>
    </div>
    <footer class="footer">
        {% for item in footer_inf %}
        <p class="contact">{{ item }}</p>
        {% endfor %}
    </footer>

</div>
</body>
</html>