{% extends "common/base.html" %}

{% block content %}
<script language="JavaScript" type="text/javascript" src="static/js_scripts/div_scroll.js"></script>

<div class="container" >

    <ul id="messages" class="messages" onscroll="button_Activation('messages')" onload="scrollToBottom('messages')">
        {% for item in message_lst %}
        <li>{{ item|safe }}</li>
        {% endfor %}
    </ul>
    <button onClick="scrollToBottom('messages')" class="scrollToBottom_btn" id="scrollToBottom_btn">ВНИЗ</button>
<!--    <button onClick="scrollSmoothToBottom('messages')">Scroll <b>Smooth</b> to Bottom</button>-->
    <div class="row">
        <div class="col-7">
            <form id="form_send_msg" class="chat" autocomplete="off" novalidate>
                <div class="form-group">
                    <label for="message_input">Message:</label>
                    <input type="text" class="form-control input" id="message_input"
                           placeholder="Enter your message here">
                    <button type="submit" id="send_msg" class="btn btn-success submit_btn">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>


<script language="JavaScript" type="text/javascript" src="static/js_scripts/socketio_helper.js"></script>
</div>
{% endblock %}