{% extends "common/base.html" %}

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container">
    <ul id="messages"></ul>
    <div class="row">
        <div class="col-7">
            <form id="form_send_msg" autocomplete="off" novalidate>
                <div class="form-group">
                    <label for="message_input">Message:</label>
                    <input type="text" class="form-control" id="message_input" placeholder="Enter your message here">
                </div>
                <button type="submit" id="send_msg" class="btn btn-success">Send</button>
            </form>
        </div>
    </div>
</div>



{% if username is not none %}

<script>
$("#search_form_input").keyup(function(){
    var text = $(this).val();

    $.ajax({
      url: "/suggestions",
      type: "get",
      data: {jsdata: text},
      success: function(response) {
        $("#place_for_suggestions").html(response);
      },
      error: function(xhr) {
        //Место для хендлера ошибок
      }
    });
});

</script>

<script>
            $(document).ready(() => {
                $('#form_send_msg').on('submit', (e) => {
                    e.preventDefault();
                });

                const socket = io.connect('http://127.0.0.1:5000/chat');
                const username = $('#username').text();

                $('#send_msg').on('click', () => {
                    socket.send({
                            'msg': $('#message_input').val(),
                            'username': username
                        });
                    $('#message_input').val('');
                });

                socket.on('message', data => {
                    if (data.msg.length > 0) {
                        if (data.username === 'Service message') {
                            $('#messages').append(`<li class="text-muted"><strong>${data.username}:</strong> ${data.msg}</li>`);
                        } else {
                            $('#messages').append(`<li><strong>${data.username}:</strong> ${data.msg}</li>`);
                        }
                        console.log('Received message');
                    }
                });
            });

</script>
{% endif %}

</div>
{% endblock %}