{% extends "common/base.html" %}

{% block content %}
<div class="normal_content">
	<div class="container mt-5 mb-4">
        <h1>Chat Room</h1>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-5">
                {% if username is none %}
                    <form action="/login" id="form_set_username" autocomplete="off" novalidate method="POST">
                        <div class="form-group">
                            <label for="username_input">Your username:</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
                        </div>
                        <button type="submit" class="btn btn-primary">LogIn</button>
                    </form>
                {% else %}
                    <h2>Hello, <strong id="username">{{ username }}</strong></h2>
                    <p><a href="/logout">Exit</a></p>
                {% endif %}
            </div>
        </div>
    </div>

    {% if username is not none %}
        <div class="container">
            <ul id="messages"></ul>
            <div class="row">
                <div class="col-7">
                    <form id="form_send_msg" autocomplete="off" novalidate>
                        <div class="form-group">
                            <label for="message_input">Message:</label>
                            <input type="text" class="form-control" id="message_input" placeholder="Enter your message here">
                        </div>
                        <button type="submit" id="send_msg" class="btn btn-success">Send</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
        
</div>
{% endblock %}