{% extends "common/base.html" %}

{% block content %}

<div class="login">
	<h1 herf="register" class="login_label">Авторизация</h1>
    <form action="" method="post">
    <p class="input_label">
<!--        {{ form.email.label }}<br>-->
        {{ form.email(class="form-control", class="form-control input", type="email", placeholder=form.email.label.text) }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p class="input_label">
<!--        {{ form.password.label }}<br>-->
        {{ form.password(class="form-control",class="form-control input", type="password", placeholder=form.password.label.text) }}
        <i class="far fa-eye login_i" id="togglePassword"></i> <br>
        <script language="JavaScript" type="text/javascript" src="static/js_scripts/password_toggle.js"></script>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.remember_me(type="checkbox", class="boolean-field") }} Запомнить меня</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary submit_btn") }}</p>
    {{message}}
</form>

</div>
{% endblock %}






