{% extends "common/base.html" %}

{% block content %}
<div class="intro">
</div>
<div class="normal_content">
    <div id="about" class="about">
    	<h3>Кто мы?</h3>
        <p class="inf_p">{{interesting_information}}</p>
    </div>
    <div class="services_list">
        <h3>Чем мы занимаемся?</h3>
        <ul class="inf_ul">
        {% for item in information_list %}
            <li class="inf_li">{{ item }}</li>
        {% endfor %}
        </ul>
    </div>
    <div id="find_us" class="find_us">
        <h3>Как нас найти:</h3>
        <h4>{{ how_to_find_us }}</h4>
        <div id="map" class="map"></div>
    </div>
  	<div id="connect" class="connect">
  		<h3>Как с нами связаться?</h3>
        <ul class="connect_ul">
        {% for item in connection_list.items() %}
            <li class="connect_li"><span style="font-weight: bold;">{{ item[0] }}</span>: {{ item[1] }}</li>
        {% endfor %}
        </ul>
  	</div>
</div>
{% endblock %}